<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="application/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <script type="application/javascript" th:src = "@{/js/assets/asset.js}"></script>
</head>
<body>

    <div id="header"></div>

    <h1>Stock</h1>
    <p id="asset-name" th:text="${stock.name}"></p>
    <p id="asset-symbol" th:text="${stock.symbol}"></p>
    <p th:text="${stock.description}"></p>
    <p th:text="${stock.currentMarketPrice}"></p>
    <p th:text="${stock.averagePurchasePrice}"></p>
    <p th:text="${stock.quantityOwned}"></p>
    <p th:text="${stock.currency}"></p>
    <p th:text="${stock.currencySymbol}"></p>
    <p th:text="${stock.exchangeName}"></p>
    <p th:text="${stock.isMarketOpen}"></p>
    <p th:text="${stock.recommendationKey}"></p>
    <p th:text="${stock.percentChange}"></p>

    <h2> Purchases</h2>
    <table id="purchase-table">
        <tr>
            <th>Price</th>
            <th>Quantity</th>
            <th>Date</th>
        </tr>
        <tr th:each="purchase: ${purchase}">
            <td th:text="${purchase.price}"></td>
            <td th:text="${purchase.quantity}"></td>
            <td th:text="${purchase.purchaseDate.myFormatDateString}"></td>
            <td></td>
        </tr>
    </table>


    <p>Add new purchase</p>
    <input type="number" placeholder="Enter Quantity" id="quantity"><br>
    <input type="number" placeholder="Enter Price" id="price"><br>
    <input type="text" placeholder="Enter Date" id="date"><br>
    <button id="confirm" asset-type="stock">Confirm</button><br>
    <div id="error-message"></div>

</body>
</html>
