<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Asset</title>
    <script type="application/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <script type="application/javascript" th:src = "@{/js/add-asset.js}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href = "@{/css/navbar.css}" rel="stylesheet">
</head>
<body>

    <div class="container" id="navbar">
        <nav class="navbar navbar-expand navbar-dark bg-primary">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item my-auto">
                        <h2 class="navbar-brand font-weight-bold">Finance Tracker</h2>
                    </li>
                    <li class="nav-item my-auto">
                        <form action="/user" method="get">
                            <button class="btn btn-info rounded-0" type="submit">User Main Page</button>
                        </form>
                    </li>
                    <li class="nav-item my-auto">
                        <form action = "/add-asset" method="get">
                            <button class="btn btn-secondary rounded-0" type="submit">Add New Asset</button>
                        </form>
                    </li>
                    <li class="nav-item my-auto">
                        <form action="/notification" method="get">
                            <button class="btn btn-info rounded-0" type="submit">Notifications</button>
                        </form>
                    </li>
                    <li class="nav-item my-auto">
                        <form action="/settings" method="get">
                            <button class="btn btn-info rounded-0" type="submit">Settings</button>
                        </form>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" id="name-list">
                        <h3 th:text="${username}" class="font-weight-bold"></h3>
                    </li>
                    <li class="nav-item my-auto">
                        <form action="/logout" method="get">
                            <button class="btn btn-danger" type="submit">Logout</button>
                        </form>
                    </li>
                </ul>

            </div>
        </nav>
    </div>

    <div class="container">
        <div class="col-sm-12 mx-auto text-center" style="padding-bottom: 15px;">
            <h2>Add new asset</h2>
        </div>
        <div class="row">

            <div class="col text-right">
                <form>
                    <select class="form-select" onchange="onChange(this.value)">
                        <option value="stock">Stock</option>
                        <option value="passive-resource">Passive-resource</option>
                        <option value="index">Index</option>
                        <option value="crypto">Crypto</option>
                        <option value="commodity">Commodity</option>
                    </select>
                </form>

                <div id="add">
                </div>
            </div>

            <div class="col">
                <div id="purchase">
                </div>
            </div>
        </div>
        <div class="col-sm-4 mx-auto text-center" id="response" role="alert"></div>
    </div>

    <div class="col-sm-12 mx-auto text-center mt-5" id="footer">
        <footer>
            <small>© Copyright 2021, FinanceTracker</small>
        </footer>
    </div>

    <template id="stock">
        <h5>Enter Stock Ticker</h5>
        <input class="value form-control w-25 ml-auto" type="text" placeholder="Ticker" required><br>
        <button class="add-button btn btn-success" asset-type="stock">Add Stock</button>
    </template>
    <template id="index">
        <h5>Enter Index Ticker</h5>
        <input class="value form-control w-25 ml-auto" type="text" placeholder="Ticker" required><br>
        <button class="add-button btn btn-success" asset-type="index">Add Index</button>
    </template>
    <template id="crypto">
        <h5>Enter Crypto Ticker</h5>
        <input class="value form-control w-25 ml-auto" type="text" placeholder="Ticker" required><br>
        <button class="add-button btn btn-success" asset-type="crypto">Add Crypto</button>
    </template>
    <template id="commodity">
        <h5>Enter Commodity Name</h5>
        <input class="value form-control w-25 ml-auto" type="text" placeholder="Name" required><br>
        <button class="add-button btn btn-success" asset-type="commodity">Add Commodity</button>
    </template>
    <template id="passive-resource">
        <h6>Enter Passive Purchase Name</h6>
        <input class="value form-control w-50 ml-auto" type="text" placeholder="Name" required>
        <h6>Enter Purchase Price</h6>
        <input class="form-control w-25 ml-auto" type="text" placeholder="Price" id="passive-price" required>
        <h6>Enter Purchase Date</h6>
        <input class="form-control w-50 ml-auto" type="text" placeholder="Date format - 4.25.2020" id="passive-date">
        <h6>Enter Purchase Description</h6>
        <input class="form-control w-50 ml-auto" type="text" placeholder="Description" id="description">
        <h6>Enter Purchase Currency</h6>
        <input class="form-control w-25 ml-auto" type="text" placeholder="Currency" id="currency">
        <h6>Enter Purchase Currency Symbol</h6>
        <input class="form-control w-25 ml-auto" type="text" placeholder="Currency Symbol" id="currency-symbol"><br>
        <button class="add-button btn btn-success" asset-type="passive-resource">Add Passive Purchase</button>
    </template>

    <template id="purchase-info">
        <h4>Add Initial Purchase</h4>
        <input class="form-control" type="number" placeholder="Enter Quantity" id="quantity">
        <input class="form-control" type="number" placeholder="Enter Price" id="price">
        <input class="form-control" type="text" placeholder="Enter Date" id="date">
    </template>


</body>
</html>
