<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finance Tracker</title>
    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="application/javascript" src = "/js/home.js"></script>
</head>
<body>
    <h1> Finance Tracker</h1>
    <form action="/login" method="get">
        <button type="submit">Login</button>
    </form>
    <br><br><br><br>
    <p>New to Finance Tracker?<br>Create new account for free! </p>
    <form action="/register" method="get">
        <button type="submit">Register</button>
    </form>

    <div id="footer"></div>
</body>
</html>
