<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Finance Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href = "@{/css/home.css}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mx-auto text-center">
                <h1>Finance Tracker</h1>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12 mx-auto text-center">
                <form action="/login" method="get">
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12 mx-auto text-center">
                <form action="/register" method="get">
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
