<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Notifications</title>
    <script type="application/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <script type="application/javascript" th:src = "@{/js/notification.js}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href = "@{/css/navbar.css}">
</head>
<body>
    <div class="container" id="navbar">
        <nav class="navbar navbar-expand navbar-dark bg-primary">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item my-auto">
                        <h2 class="navbar-brand font-weight-bold">Finance Tracker</h2>
                    </li>
                    <li class="nav-item my-auto">
                        <form action="http://localhost:8080/user" method="get">
                            <button class="btn btn-info rounded-0" type="submit">User Main Page</button>
                        </form>
                    </li>
                    <li class="nav-item my-auto">
                        <form action = "/add-asset" method="get">
                            <button class="btn btn-info rounded-0" type="submit">Add New Asset</button>
                        </form>
                    </li>
                    <li class="nav-item my-auto">
                        <form action="http://localhost:8080/notification" method="get">
                            <button class="btn btn-secondary rounded-0" type="submit">Notifications</button>
                        </form>
                    </li>
                    <li class="nav-item my-auto">
                        <form action="http://localhost:8080/settings" method="get">
                            <button class="btn btn-info rounded-0" type="submit">Settings</button>
                        </form>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" id="name-list">
                        <h3 th:text="${username}" class="font-weight-bold"></h3>
                    </li>
                    <li class="nav-item my-auto">
                        <form action="http://localhost:8080/logout" method="get">
                            <button class="btn btn-danger" type="submit">Logout</button>
                        </form>
                    </li>
                </ul>

            </div>
        </nav>
    </div>

    <div class="container mb-6">
        <div class="col-sm-12 mx-auto text-center" style="padding-bottom: 15px;">
            <h2>Notifications</h2>
        </div>

        <div class="row">

            <div class="col-sm-6 mx-auto text-center" id="add-notification-div">
                <h3>Add notification</h3>
                <div class="col-sm-12 mx-auto text-center">
                    <select class="form-select" id="select-notification">
                        <option th:each="global : ${global}" th:value="${global.assetType}" th:text="${global.notificationName}" notification-type="global"></option>
                        <option th:each="stock : ${stock}" th:value="${stock.symbol}" th:text="${stock.symbol}" notification-type="stock"></option>
                        <option th:each="crypto : ${crypto}" th:value="${crypto.symbol}" th:text="${crypto.symbol}" notification-type="crypto"></option>
                        <option th:each="index : ${index}" th:value="${index.symbol}" th:text="${index.symbol}" notification-type="index"></option>
                        <option th:each="commodity : ${commodity}" th:value="${commodity.name}" th:text="${commodity.name}" notification-type="commodity"></option>
                    </select>
                </div>
                <div class="col-sm-7 mx-auto text-center">
                    <input class="form-control" type="number" placeholder="Enter Price Target" id="price">
                </div>
                <div class="col-sm-7 mx-auto text-center">
                    <input class="form-control" type="text" placeholder="Enter notification name" id="name">
                </div>
                <div class="col-sm-12 mx-auto text-center">
                    <button class="btn btn-info" id="add">Add</button>
                </div>
            </div>

            <div class="col-sm-6 mx-auto text-center" id="notifications-container">
                <h3>Your notifications</h3>
                <table class="table table-striped" id="notification-table">
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Remove</th>
                    </tr>
                    <tr th:each="notification: ${notification}" th:id="${notification.notificationName}">
                        <td th:text="${notification.notificationName}"></td>
                        <td th:text="${notification.notificationPrice}"></td>
                        <td><button class="remove-notification btn btn-danger" th:notification-name="${notification.notificationName}"> X </button></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>


    <div class="col-sm-4 mx-auto text-center" id="error-message">
    </div>

    <div class="col-sm-12 mx-auto text-center mt-5" id="footer">
        <footer>
            <small>© Copyright 2021, FinanceTracker</small>
        </footer>
    </div>

</body>
</html>
