<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/register" method="post">
        <input type="text" placeholder="Enter Username" name="username"><br>
        <input type="password" placeholder="Enter Password" name="password"><br>
        <input type="password" placeholder="Enter Password Again" name="password2"><br>
        <input type="email" placeholder="Enter Email (not required)" name="email"><br>
        <button type="submit">Login</button>
    </form>
    <p th:text="${message}"></p>
</body>
</html>