<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link th:href = "@{/css/user-homepage.css}" rel="stylesheet">
    <script type="application/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <script type="application/javascript" th:src = "@{/js/user-homepage.js}"></script>
</head>
<body>

    <div id="header"></div>

    <h1> USER HOMEPAGE</h1>

    <p th:text="${user.userName}"></p>
    <p th:text="${user.email}"></p>
    <p th:text="${user.is2FactorAuthenticationRequired}"></p>

    <table>
        <tr>
            <th>Stock Name</th>
            <th>Symbol</th>
            <th>Price</th>
            <th>Quantity Owned</th>
            <th>Avg. Purchase Price</th>
            <th>Percent Change</th>
            <th>Currency</th>
            <th>Exchange</th>
            <th>Is Open</th>
        </tr>
        <tr th:each="stock: ${stock}" th:id="${stock.symbol}">
            <td>
                <form action="/asset" method="get">
                    <button class="open-asset" asset-type="stock" th:asset-name="${stock.name}" th:text="${stock.name}"></button>
                </form>
            </td>
            <td th:text="${stock.symbol}"></td>
            <td th:text="${stock.currentMarketPrice}"></td>
            <td th:text="${stock.quantityOwned}"></td>
            <td th:text="${stock.averagePurchasePrice}"></td>
            <td th:text="${stock.percentChange}"></td>
            <td th:text="${stock.currencySymbol}"></td>
            <td th:text="${stock.exchangeName}"></td>
            <td th:text="${stock.isMarketOpen}"></td>
            <td><button class="delete-asset" asset-type="stock" th:asset-name="${stock.symbol}">X</button></td>
            <td></td>
        </tr>

        <tr>
            <th>Passive Resource Name</th>
            <th>Current Price</th>
            <th>Purchase Price</th>
            <th>Percent Change</th>
            <th>Currency</th>
        </tr>
        <tr th:each="passive_resource: ${passive_resource}" th:id="${passive_resource.name}">
            <td>
                <form action="/asset" method="get">
                    <button class="open-asset" asset-type="passive-resource" th:asset-name="${passive_resource.name}" th:text="${passive_resource.name}"></button>
                </form>
            </td>
            <td th:text="${passive_resource.currentMarketPrice}"></td>
            <td th:text="${passive_resource.purchaseInfo.price}"></td>
            <td th:text="${passive_resource.percentChange}"></td>
            <td th:text="${passive_resource.currencySymbol}"></td>
            <td><button class="delete-asset" asset-type="passive-resource" th:asset-name="${passive_resource.name}">X</button></td>
        </tr>

        <tr>
            <th>Index Name</th>
            <th>Symbol</th>
            <th>Price</th>
            <th>Quantity Owned</th>
            <th>Avg. Purchase Price</th>
            <th>Percent Change</th>
            <th>Currency</th>
            <th>Exchange</th>
        </tr>
        <tr th:each="index: ${index}" th:id="${index.symbol}">
            <td>
                <form action="/asset" method="get">
                    <button class="open-asset" asset-type="index" th:asset-name="${index.name}" th:text="${index.name}"></button>
                </form>
            </td>
            <td th:text="${index.symbol}"></td>
            <td th:text="${index.currentMarketPrice}"></td>
            <td th:text="${index.quantityOwned}"></td>
            <td th:text="${index.averagePurchasePrice}"></td>
            <td th:text="${index.percentChange}"></td>
            <td th:text="${index.currencySymbol}"></td>
            <td th:text="${index.exchangeName}"></td>
            <td><button class="delete-asset" asset-type="index" th:asset-name="${index.symbol}">X</button></td>
        </tr>

        <tr>
            <th>Crypto Name</th>
            <th>Symbol</th>
            <th>Price</th>
            <th>Quantity Owned</th>
            <th>Avg. Purchase Price</th>
            <th>Percent Change</th>
            <th>Currency</th>
        </tr>
        <tr th:each="crypto: ${crypto}" th:id="${crypto.name}">
            <td>
                <form action="/asset" method="get">
                    <button class="open-asset" asset-type="crypto" th:asset-name="${crypto.name}" th:text="${crypto.name}"></button>
                </form>
            </td>
            <td th:text="${crypto.symbol}"></td>
            <td th:text="${crypto.currentMarketPrice}"></td>
            <td th:text="${crypto.quantityOwned}"></td>
            <td th:text="${crypto.averagePurchasePrice}"></td>
            <td th:text="${crypto.percentChange}"></td>
            <td th:text="${crypto.currencySymbol}"></td>
            <td><button class="delete-asset" asset-type="crypto" th:asset-name="${crypto.symbol}">X</button></td>
        </tr>

        <tr>
            <th>Commodity</th>
            <th>Price</th>
            <th>Quantity Owned</th>
            <th>Avg. Purchase Price</th>
            <th>Percent Change</th>
            <th>Currency</th>
        </tr>
        <tr th:each="commodity: ${commodity}" th:id="${commodity.name}">
            <td>
                <form action="/asset" method="get">
                    <button class="open-asset" asset-type="commodity" th:asset-name="${commodity.name}" th:text="${commodity.name}"></button>
                </form>
            </td>
            <td th:text="${commodity.currentMarketPrice}"></td>
            <td th:text="${commodity.quantityOwned}"></td>
            <td th:text="${commodity.averagePurchasePrice}"></td>
            <td th:text="${commodity.percentChange}"></td>
            <td th:text="${commodity.currencySymbol}"></td>
            <td><button class="delete-asset" asset-type="commodity" th:asset-name="${commodity.name}">X</button></td>
        </tr>
    </table>

    <div id="error-message"></div>

    <div id="footer"></div>
</body>
</html>
